In [1]:
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

import pandas as pd
import numpy as np

C:\Users\Sushant Lenka\.conda\envs\machineLearning\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Sushant Lenka\.conda\envs\machineLearning\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
boston_dataset=load_boston()

In [3]:
data=pd.DataFrame(data=boston_dataset.data,columns=boston_dataset.feature_names)

features=data.drop(['INDUS','AGE'],axis=1)

In [4]:
features.head()

,CRIM,ZN,CHAS,NOX,RM,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,0.0,0.538,6.575,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,0.0,0.469,6.421,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,0.0,0.469,7.185,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,0.0,0.458,6.998,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,0.0,0.458,7.147,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
log_prices=np.log(boston_dataset.target)
target=pd.DataFrame(log_prices,columns=['PRICE'])
target.shape

(506, 1)

In [9]:
CRIM_IDX=0
ZN_IDX=1
CHAS_IDX=2
RM_IDX=4
PT_RATIO=8


property_stats=np.ndarray(shape=[1,11])

In [11]:
property_stats[0][CRIM_IDX]=features['CRIM'].mean()

In [12]:
property_stats=features.mean().values.reshape(1,11)

In [13]:
regr=LinearRegression().fit(features,target)
fitted_vals=regr.predict(features)

mse=mean_squared_error(target,fitted_vals)
rmse=np.sqrt(mse)

In [14]:
rmse

0.18751213519713034

In [32]:
def get_log_estimate(nr_rooms,students_per_class,next_to_river=False,high_confidence=True):
    property_stats[0][RM_IDX]=nr_rooms
    property_stats[0][PT_RATIO]=students_per_class
    
    if next_to_river:
        property_stats[0][CHAS_IDX]=1
    else:
        property_stats[0][CHAS_IDX]=0
        
    
    log_estimate=regr.predict(property_stats)
    
    if high_confidence:
        upper_bound=log_estimate+2*rmse
        lower_bound=log_estimate-2*rmse
        interval=95
        
    else:
        upper_bound=log_estimate+rmse
        lower_bound=log_estimate-rmse
        interval=68
        
    return log_estimate,upper_bound,lower_bound,interval

In [39]:
get_log_estimate(3,20)

(array([[2.67160974]]), array([[3.04663401]]), array([[2.29658547]]), 95)

In [34]:
rmse

0.18751213519713034

In [40]:
np.median(boston_dataset.target)

21.2

In [41]:
ZILLOW_MEDIAN_PRICE=583.1
SCALE_FACTOR=ZILLOW_MEDIAN_PRICE/np.median(boston_dataset.target)

In [55]:
log_est,upper,lower,conf=get_log_estimate(9,15)

# Taking inflation

dollar_est=(np.e**log_est*1000*SCALE_FACTOR)[0][0]
dollar_high=(np.e**upper*1000*SCALE_FACTOR)[0][0]
dollar_low=(np.e**lower*1000*SCALE_FACTOR)[0][0]

In [56]:
dollar_est

826445.1232418079

In [68]:
def get_dollar_estimate(rm,ptr,chas=False,large_range=True):
    """ Estimate the price of a property in boston.
    Keyword Arguments:
        rm-- No. of rooms
        ptr-- No. of students per teacher in a class 
        chas-- True if property is close to a river
        large_range--True for 95% confidence
    
    """
    
    if rm<1 or ptr<1:
        print('Invalid rooms')
        return
    
    log_est,upper,lower,conf=get_log_estimate(rm,ptr,chas,large_range)

    dollar_est=(np.e**log_est*1000*SCALE_FACTOR)[0][0]
    dollar_high=(np.e**upper*1000*SCALE_FACTOR)[0][0]
    dollar_low=(np.e**lower*1000*SCALE_FACTOR)[0][0]
    
    print('Dollar est: ',dollar_est)
    print('Upper bound: ',dollar_high)
    print('Lower bound:',dollar_low)
    print('Percentage confidence: ',conf)

In [66]:
get_dollar_estimate(1,20)

Dollar est:  331829.63061220833
Upper bound:  482820.9817700748
Lower bound: 228057.4123944571
Percentage confidence:  95

In [69]:
import boston_valuation as val

In [71]:
val.get_dollar_estimate(6,12,True)

Dollar est:  782537.0719624956
Upper bound:  1138612.3555613281
Lower bound: 537816.2866445839
Percentage confidence:  95